*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    text-align: center;
    font-family: Roboto;
    color:white;
}

h1{
    font-size: 105px;
    color:white;
    font-family: Roboto;
}  


nav ul{
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    

}

nav ul li a{
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: honeydew;
    font-family: Roboto;
    
}


/*Selectores de clase*/
.container{
    background-image: url(plato.jpeg);
    position: relative;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0;
    background-size: cover;
    height: 620px;

}
.caja{
    margin-left: 70px;
}

.contenedor{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3)
    
}
.botones{
    width: 40%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 40px;

}
.boton-1{
    height: 50px;
    width: 150px; 
    color:rgb(255, 255, 255);
    background-color:#EB5A2C; 
    border:0.16em solid #EB5A2C;
    justify-content: center;
    align-items:center;
}

.boton-2{ 
    height: 50px;
    width: 150px; 
    color: black; 
    border:0.16em solid #FFFFFF;
    justify-content: center;
    align-items:center;
    
}
.btn{
    text-decoration: none;
}
.caja{
    display: flex;
}

.caja p{
    justify-content: left;
}
.parrafo{
    font-family: Roboto;
    font-size: 20px;
    color:white;
    width: 60%;
}

.cards{
    display: flex;  
    flex-flow: row nowrap;
    justify-content:space-around;  
    align-items: flex-start; 
    height: 300px; 
    text-align: center;
    
}


.card{
    align-items: center;
    justify-content: center;
    background-color: #EB5A2C;
    padding-top: 20px;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    padding: 20px;
}


.text-img-content{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    
}
.caja1{
    margin-left: 70px;
    width: 50%;
    padding-top: 20px;
    align-items: center;
}
.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
    height: 400px;
    width: 400px;
    
}
span{
    font-size: 36px;
    font-family: Roboto;
}
.parrafo1{
    font-family: Roboto;
    font-size: 20px;
    color:white;
    text-align: justify;
}


.text-2{
    color: black; 
}

.caja2{
    display: flex;
    justify-content: center;
    border-color: #EB5A2C;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    align-items: center;
    width: 70%;
}

